

body {
  font-family: Arial, sans-serif;
  background: url(./img/LayoutFon.jpeg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: 95%;
}

@media (max-width: 768px) {
  body {
    align-items: flex-start;
    padding: 0;
  }
}

.card {
  background: rgb(66, 70, 76);
  padding: 40px;
  border-radius: 12px;
  width: 1260px;
  height: 846px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 14px 20px 53px 0px rgba(0, 0, 0, 0.1),
              57px 78px 96px 0px rgba(0, 0, 0, 0.09),
              127px 176px 130px 0px rgba(0, 0, 0, 0.05),
              226px 313px 154px 0px rgba(0, 0, 0, 0.01),
              354px 488px 169px 0px rgba(0, 0, 0, 0),
              -4px -4px 6px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16.899999618530273px);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 375px;
    height: 100vh;
    min-height: unset;
    padding: 15px;
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

.content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-top: -50px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 15px;
    margin-top: 0;
    align-items: stretch;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.profile-photo {
  width: 373px;
  height: 510px;
  object-fit: cover;
  border-radius: 8px;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .profile-photo {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    margin: 15px 0;
    object-fit: cover;
    border-radius: 12px;
  }

  .profile {
    margin-top: 20px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: -50px;
}

.buttons button,
.buttons a {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 194px;
  height: 85px;
  background: #ffe600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #2c2c2c;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none; 
  font-family: inherit; 
  line-height: normal; 
}

@media (max-width: 768px) {
  .buttons {
    margin-top: 0;
    justify-content: space-between;
    padding: 0;
    gap: 8px;
    margin-top: -50px;
  }
  
  .buttons button,
  .buttons a{
    width: 170px;
    height: 70px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
  }
}
@media (max-width: 375px) {
  .buttons {
    margin-top: 0;
    justify-content: space-between;
    padding: 0;
    gap: 8px;
    width: 290px;
    margin-top: -40px;
  }
  
  .buttons button
  .buttons a {
    width: 150px;
    height: 70px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
  }
}

.info {
  display: flex;
  flex-direction: column;
  color: #ffe600;
  position: relative;
  padding-left: 40px;
  padding-top: 20px;
  min-height: 510px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .info {
    /* margin-top: 15px;
    padding-left: 0;
    min-height: unset;
    border-top: 1px solid rgba(255, 230, 0, 0.3);
    padding-top: 15px; */
    margin-top: 3px;
    padding-left: 5px;
  }

  .info::before {
    display: none;
  }

  .info h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 2px;
    margin-top: 0;
    color: #FFE600;
  }

  .position {
    text-align: left;
    margin-bottom: 15px;
    font-size: 14px;
    margin-top: 0;
    color: rgba(255, 230, 0, 0.7);
  }

  .info ul {
    margin: 0;
    padding: 0;
  }

  .info ul li {
    margin: 12px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .info ul li img {
    width: 20px;
    object-fit: contain;
  }

  .info ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
  }
}

.info::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, 
    rgba(255, 230, 0, 0) 0%,
    rgba(255, 230, 0, 1) 20%,
    rgba(255, 230, 0, 1) 80%,
    rgba(255, 230, 0, 0) 100%);
}

.info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 7px 0;
}

.info ul li img {
  width: 65px;
}

.partners {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap; 
  gap: 25px;
}

.partners img {
  max-width: 100px; 
  height: auto; 
}
@media (max-width: 768px) {
  .partners {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 230, 0, 0.3);
    margin-bottom: 10px;
    gap: 10px; 
  }

  .partners::before {
    display: none;
  }

  .partners img {
    max-width: 80px;
  }

  .buttons_map {
    margin-top: 10px;
  }

  .buttons_map button {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    margin-left: 20px;
  }
}

.partners::before {
  content: '';
  position: absolute;
  /* top: -20px; */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 2px;
  background: linear-gradient(90deg, 
    rgba(255, 230, 0, 0) 0%,
    rgba(255, 230, 0, 1) 25%,
    rgba(255, 230, 0, 1) 75%,
    rgba(255, 230, 0, 0) 100%);
}

.partners img {
  width: 582px;
  height: 62px;
  height: auto;
  padding-top: 30px;
}

.download {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .download {
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
    left: 40px;

  }

  .download img {
    width: 34px;
    height: 34px;
    margin-top: 3100px;
  }
}

.download img {
  width: 30px;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 55px;
  height: 44px;
  margin-bottom: 10px;
}

h1 {
  color: white;
  font-size: 34px;
  margin: 0;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .logo {
    width: 55px;
    height: 56px;
    margin: 0;
  }

  h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .logoti {
    gap: 10px;
    padding: 10px 0;
    position: relative;
  }

  .download {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }

  .download img {
    width: 20px;
    height: 20px;
  }
}

.logoti {
  display: flex;
  align-items: center;
  gap: 25px;
}

.buttons_map button {
  background: #ffe600;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  color: #2c2c2c;
  font-weight: 500;
  font-size: 16px;
}

.info h2 {
  font-size: 32px;
  margin: 0;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.info h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translateX(-50%);
  width: 150%;
  height: 3px;
  background: linear-gradient(90deg, 
    rgba(255, 230, 0, 0) 0%,
    rgba(255, 230, 0, 1) 25%,
    rgba(255, 230, 0, 1) 75%,
    rgba(255, 230, 0, 0) 100%);
}

@media (max-width: 768px) {
  .info h2::after {
    width: 100%; 
    left: 40%; 
    transform: translateX(-40%); 
  }
}
@media (max-width: 375px) {
  .info h2 {
    font-size: 24px;
  }
}

.position {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 5px 0 25px 0;
  color: #ffe600;
}

.download {
  position: absolute;
  right: 50px;
  top: 40px;
}
